<!DOCTYPE html>
<html>
<head>
    <title>Nav</title>
    <link rel="icon" type="image/x-icon" href="static/images/favicon1.png">
    <link rel="stylesheet" href="static/styles.css">
</head>
<body>
    <header>
        <div class="header_div"> 
            <div class="logo_div">
                <a href="/dashboard"><img class="mylogo" src="/static/images/mylogo.png" alt="TUT MOGLA BYT WASHA REKLAMA"></a>

            </div>
        </div>
    </header>
    {% block main %}{% endblock %}
    <footer>

    </footer>
</body>