<!DOCTYPE html>
<html>
<head>
    <script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous">
    </script>
    <title>Nav</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <link rel="icon" type="image/x-icon" href="static/images/favicon1.png">
    <link rel="stylesheet" href="static/styles.css">
    <div class="logoutb">
        <a href="/logout"><input type="submit" value="Log out"></a>
    </div>
</head>
<body>
    <header>
        <div class="header_div"> 
            <div class="logo_div">
                <a href="/dashboard"><img class="mylogo" src="/static/images/mylogo.png" alt="TUT MOGLA BYT WASHA REKLAMA"></a>

            </div>
        </div>
    </header>
    {% block main %}{% endblock %}
    <footer>

    </footer>
</body>