<!DOCTYPE html>
{% extends "layout.html" %}

{% block title %}
    Sign in
{% endblock %}

{% block main %}
    <main>
        <!-- <div id="text-first" class="background-picture">
            <p> Why should I use Mitia's NAVI?</p>
            <p>Hi {{ name }}</p>
        </div> -->
        <div id="sign-up">
            <p>New to Navi software</p>
            <p>Sign up!</p>
            <form method="POST">
                <div id="demail">
                    <input type="email" id="email" name="fname" placeholder="Email address"> 
                </div>
                <div id="dpassword">
                    <input type="password" id="password" name="lname" placeholder="Password">
                </div>
                <div class="submitb">
                    <input type="submit" value="Sign up">
                </div>
            </form>
        </div>
    </main>
{% endblock %}